<body>
     <div class="divOne pt-5 pb-3">
        <h1 class="text-dark text-center">Bienvenue sur le site de la Royale Golden Family</h1>
     </div>
     <div class="divTwo pb-3">
        <h2 class="text-center">Cher Ami</h2>
     </div>
        <div class="divThree">
            <p class="para1 bg-white"> Nous vous remercions par avance de votre visite sur le site de la Royale Golden Family,
            ce site a pour objectif de vous faire découvrir la royale Team Angular, Java de la eSNCF. Vous pourrez les admirer sur
            la page appropriée.
            Ce site est un projet réalisé lors d'un checkpoint front-end/back-end. 
            Restez sur le site le temps qui vous sera nécessaire pour l'apprécier, vous pouvez envoyer un message
            afin d'exprimer vos remarques sur le fond comme sur la forme.<br>
            See you soon my friend !
            </p>
            
        </div> 
</body>
