body {
    background-image: url(../../assets/img/noble-789501_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-style: italic;
    font-size: 5.9vw;
    margin-right: 5em;
    margin-left: 5em;
}

h2 {
    font-size: 3.0vh;
}

.para1 {
    font-weight: bold;
    font-style: italic;
    font-size: 2vmin;
    margin-right: 15em;
    margin-left: 15em;
    padding: 3em;
}